* {
  /*border: 1px solid gold;*/
}

/*******************************
              GENERAL
********************************/
html, body {
  margin: 0; /*Body margins allow content to cover full screen*/
  padding: 0;
  height: 100%;
  width: 100%;
  background: gray url('https://i.imgur.com/NaV05E3.png') repeat 0 0;
  animation: backgroundSlide 20s linear infinite;
}

@keyframes backgroundSlide {
  0% { background-position: 0 0; }
  100% { background-position: -400px 0; }
} /*infinite translating image */



/*******************************
              NAV
********************************/
.nav {
  position: fixed;
  background-color: rgba(205, 208, 215,1);
  color: white;
  text-align: center;
  font-family: 'Yeseva One', cursive;
  margin-top: -325px;
  width: 100%;
  padding: 0;
  border: 1px solid rgba(205, 208, 215,1);
}

#nav-items{
  display: flex;
  justify-content: center;
}

#menu {
  vertical-align: middle;
  margin: auto 30px;
}


#triangle {
  animation-name: glowingPulseTriangle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: white;
}
#triangle:hover{
  color: black;
}

/******************************
            FOOTER
*******************************/
.footer {
  height: 7%;
  width: 60%;
  margin: 30px auto;
  border-radius: 8px;
  background-color: rgba(205, 208, 215, .1);
}

#footerText{
  margin: auto;
  padding: 8px;
}

#footerText > h2 {
  margin: auto;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 18px;
}

#heart {
  color: rgba(211, 85, 2, 1);
}

/******************************
          ALL MODALS
*******************************/

.textbox {
  margin: 150px auto;
  height: 350px;
  width: 350px;
  color: white;
  font-family: arial, sans-serif;
  text-align: center;
}

/******************************
          START MODAL
*******************************/
#modal-start {
  position: fixed;
  z-index: 1;/*makes it come to the front.*/
  justify-content: center;
  top: 0;
  left: 0; /*sets margins to 0*/
  height: 100%;
  width: 100%; /*makes it take up the whole window*/
  overflow: auto;
  /*background-color: rgba(181, 25, 92, 0.9);*/
  background-color: rgba(211, 85, 2, 0.9);

  display: block;
      /*display will change to none when clicked out of.*/
}

input {
  background: none;
  height: 30px;
  border: none;
  border-bottom: 3px solid white;
  text-align: center;
  color: white;
  font-family: arial,sans-serif;
  font-size: 20px;
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, .5);
}

input[type='number'] {
    -moz-appearance:textfield;
} /*make number look like text (so it'll be styled the same)*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} /*removes arrow buttons from number input*/

#submit {
  height: 35px;
  margin-left: 20px;
  background-color: white;
  border: none;
  color: rgba(211, 85, 2, 1);
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 20px;
  border-radius: 2px;
  outline: none;
}

#submit:hover {
  background-color: black;
  color: white;
}

/******************************
          NAV MODAL
*******************************/

#modal-instructions {
  position: fixed;
  z-index: 1;/*makes it come to the front.*/
  justify-content: center;
  top: 0;
  left: 0; /*sets margins to 0*/
  height: 100%;
  width: 100%; /*makes it take up the whole window*/
  overflow: auto;
  line-height: 30px;
  /*background-color: rgba(181, 25, 92, 0.9);*/
  background-color: rgba(211, 85, 2, 0.9);

  display: none;
      /*display will change to none when clicked out of.*/
}

#close {
  height: 35px;
  margin-top: 20px;
  background-color: white;
  border: none;
  color: rgba(211, 85, 2, 1);
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 20px;
  border-radius: 2px;
  outline: none;
}

#close:hover {
  background-color: black;
  color: white;
}


/******************************
          WINNER MODAL
*******************************/

#modal-winner1 {
  position: fixed;
  z-index: 1;/*makes it come to the front.*/
  justify-content: center;
  top: 0;
  left: 0; /*sets margins to 0*/
  height: 100%;
  width: 100%; /*makes it take up the whole window*/
  overflow: auto;
  line-height: 30px;
  background-color: rgba(211, 85, 2, 0.9);

  display: none;
      /*display will change to none when clicked out of.*/
}

#reset {
  height: 35px;
  margin-top: 20px;
  background-color: white;
  border: none;
  color: rgba(211, 85, 2, 1);
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 20px;
  border-radius: 2px;
  outline: none;
}

#reset:hover {
  background-color: black;
  color: white;
}

#winner {
  font-size: 70px;
  line-height: 100px;
  animation: colorfulName 5s ease infinite;
}

@keyframes colorfulName {
  0% {color: white;}
  10% {color: #4286f4;}
  20% {color: #b541f4;}
  30% {color: #f44274;}
  40% {color: #3ded66;}
  50% {color: #eaef45;}
  60% {color: #ef8045;}
  70% {color: #0b287a;}
  80% {color: #096d3f;}
  90% {color: #c11107;}
  100% {color: #6d1e4a;}
}

/******************************
      CARDS IN PLAY MODAL
*******************************/

#modal-cardsInPlay {
  position: fixed;
  z-index: 1;/*makes it come to the front.*/
  justify-content: center;
  top: 0;
  left: 0; /*sets margins to 0*/
  height: 50%;
  width: 100%; /*makes it take up the whole window*/
  background-color: rgba(211, 85, 2, .9);

  display: none;
}

#close2 {
  height: 35px;
  margin:20px;
  background-color: white;
  border: none;
  color: rgba(211, 85, 2, 1);
  text-align: center;
  font-family: arial,sans-serif;
  font-size: 20px;
  border-radius: 2px;
  outline: none;
}

#close2:hover {
  background-color: black;
  color: white;
}

#display-cards {
  background-color: none;
  height: 70%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 10px;
}

.modalCard{
  display: inline;
  margin: auto;
  width: 12%;
  height: 85%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
}

/******************************
          CARD DECK
*******************************/
.holdsCards{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  overflow:visible;
  margin-top: -245px;
  width: 100%;
  height:30%;
  background: rgba(39, 59, 91, .9);

}

.holdsCards > img {
  display: inline-block;
  margin: auto;
  width: 12%;
  height: 85%;
  border-radius: 4px;
  background: rgba(211, 85, 2, 0.9);
  border: 2px solid white;
  animation-name: glowingPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#deck:hover, #inPlay:hover {
  transform: scale(1.1);
}

/******************************
          BOARDS
*******************************/

.container {
  /*border: 1px solid gold;*/
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 325px auto;
  width: 75%;
  overflow: visible;
  height: 100%;
}

.grid {
  height: 80%;
  width: 45%;
  margin: 50px auto;
  background: rgba(39, 59, 91, .9);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.board {
  height: 88%;
  width: 95%;
  margin: 10px auto;
}

.row {
  display: flex;
  outline: inherit;
  height: 25%;
  width: 100%;
  justify-content: center;
}

.card {
  background: white;
  margin: 2px;
  height: 96%;
  width: 25%;
}

.overlay {
  margin: 2px;
  height: 96%;
  width: 25%;
  background: rgba(211, 85, 2, 0.9);
}

.row > img:hover {
  transform: scale(1.1);
}

.playerName {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}



/******************************
      GLOWING ANIMATIONS
*******************************/
@keyframes glowingPulse {
  0% {box-shadow: 0 0 12px #333; }
  50% {box-shadow: 0 0 18px #e8e247; }
  100% {box-shadow: 0 0 12px #333; }
}

@keyframes glowingPulseTriangle {
  0% {text-shadow: 0 0 15px #333;}
  50% {text-shadow: 0 0 22px #d35502;}
  100% {text-shadow: 0 0 15px #333;}
}
